[Desktop Entry]
Type=Application
Name=inter-heretic
Exec=inter-heretic %F
Icon=inter-heretic
TryExec=inter-heretic
Categories=Game;
MimeType=application/x-doom-wad;
